<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Angular modules with IDE.school!
  </h1>
  <a href="https://ide.school" target="_blank"><img width="300" alt="IDE.school Logo" src="../assets/logo.png"></a>
</div>
<ul>
  <li>
    <h2><a routerLink="/">Landing page main</a></h2>
  </li>
  <li>
    <h2><a routerLink="/prices">Landing page pricing</a></h2>
  </li>
  <li>
    <h2><a routerLink="/admin">Admin page</a></h2>
  </li>
  <li>
    <h2><a routerLink="/admin/users">Admin page, users list</a></h2>
  </li>
  <li>
    <h2><a routerLink="/user">User page</a></h2>
  </li>
  <li>
    <h2><a routerLink="/user/next-page">User page, next page</a></h2>
  </li>
  <li>
    <h2><a href="https://ide.school" target="_blank">IDE.school</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
